In [8]:
import pandas as pd
import holidays as holi

In [5]:
basetable=pd.read_csv("basetable.csv")

In [16]:
basetable.head()

,Unnamed: 0,DateTime,Last,PRCP,TMAX,TMIN,TVAR,TAVG,TDIFF,Significant,TPRED
0,1,01-01-14 0:00,21.0,0.18,10.56,6.11,4.45,8.33,0.0,0.0,6.11
1,2,01-01-14 1:00,9.0,0.18,10.56,6.11,4.45,8.33,0.0,0.0,6.11
2,3,01-01-14 2:00,3.0,0.18,10.56,6.11,4.45,8.33,0.0,0.0,6.11
3,4,01-01-14 3:00,5.0,0.18,10.56,6.11,4.45,8.33,0.0,0.0,6.11
4,5,01-01-14 4:00,11.0,0.18,10.56,6.11,4.45,8.33,0.0,0.0,6.11

In [21]:

basetable['DateTime']=pd.to_datetime(basetable['DateTime'])

In [8]:
from workalendar.europe import France

In [9]:
cal = France()

In [13]:
20=cal.holidays(2012)
test

[(datetime.date(2012, 1, 1), 'New year'),
 (datetime.date(2012, 4, 9), 'Easter Monday'),
 (datetime.date(2012, 5, 1), 'Labour Day'),
 (datetime.date(2012, 5, 8), 'Victory in Europe Day'),
 (datetime.date(2012, 5, 17), 'Ascension Thursday'),
 (datetime.date(2012, 5, 28), 'Whit Monday'),
 (datetime.date(2012, 7, 14), 'Bastille Day'),
 (datetime.date(2012, 8, 15), 'Assumption of Mary to Heaven'),
 (datetime.date(2012, 11, 1), 'All Saints Day'),
 (datetime.date(2012, 11, 11), 'Armistice Day'),
 (datetime.date(2012, 12, 25), 'Christmas Day')]

In [11]:
for ptr in holi.FRA(years = 2018).items(): 
    print(ptr)

(datetime.date(2018, 1, 1), "Jour de l'an")
(datetime.date(2018, 5, 1), 'Fête du Travail')
(datetime.date(2018, 5, 8), 'Armistice 1945')
(datetime.date(2018, 7, 14), 'Fête nationale')
(datetime.date(2018, 11, 11), 'Armistice 1918')
(datetime.date(2018, 4, 2), 'Lundi de Pâques')
(datetime.date(2018, 5, 21), 'Lundi de Pentecôte')
(datetime.date(2018, 5, 10), 'Ascension')
(datetime.date(2018, 8, 15), 'Assomption')
(datetime.date(2018, 11, 1), 'Toussaint')
(datetime.date(2018, 12, 25), 'Noël')